header.header
    .header__logo
        a(href="/")
            img(src="/images/logo.png")
    .header__hamburguer
        span
        span
        span
            
    nav.header__nav
        ul.header__menu
            each item in site.data.header
                li
                    a(href=item.url)!= item.name
    
        ul.header__social
           each red in site.data.social
               li
                   a(href=red.url, target="_blank")
                       i(class="fa fa-#{red.name}")
                       
    a.header__cta(href="http://www.vtr.com", target="_blank") ¡Lo quiero!
